<!-- SeuComponente.component.html -->
<h1 class="text-center m-6">{{title}}</h1>
<form [formGroup]="form" (ngSubmit)="submitForm()"
  class="d-flex flex-column align-items-center justify-content-center m-3">
  <div class="row g-3">
    <div class="form-group col-6">
      <label for="cpf">CPF:</label>
      <input type="text" class="form-control" id="cpf" formControlName="cpf" placeholder="Digite seu CPF">
      <div *ngIf="form.get('cpf')!.invalid && form.get('cpf')!.touched" class="text-danger">
        CPF é obrigatório
      </div>
    </div>
    <div class="form-group col-6">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Digite seu nome">
      <div *ngIf="form.get('nome')!.invalid && form.get('nome')!.touched" class="text-danger">
        Nome é obrigatório
      </div>
    </div>
    <div class="form-group col-6">
      <label for="sexo">Sexo:</label>
      <select class="form-control" id="sexo" formControlName="sexo">
        <option value="">Selecione...</option>
        <option value="Masculino">Masculino</option>
        <option value="Feminino">Feminino</option>
      </select>
      <div>
        <div *ngIf="form.get('sexo')!.invalid && form.get('sexo')!.touched" class="text-danger">
          Sexo é obrigatório
        </div>
      </div>
    </div>
    <div class="form-group col-6">
      <label for="telefone">Telefone:</label>
      <input type="text" class="form-control" id="telefone" formControlName="telefone"
        placeholder="Digite seu telefone">
      <div *ngIf="form.get('telefone')!.invalid && form.get('telefone')!.touched" class="text-danger">
        Telefone é obrigatório
      </div>
    </div>
    <div class="form-group col-6">
      <label for="email">E-mail:</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Digite seu email">
      <div *ngIf="form.get('email')!.invalid && form.get('email')!.touched" class="text-danger">
        Email inválido
      </div>
    </div>
    <div class="form-group col-6">
      <label for="dataNascimento">Data de Nascimento:</label>
      <input type="date" class="form-control" id="dataNascimento" formControlName="dataNascimento">
      <div *ngIf="form.get('dataNascimento')!.invalid && form.get('dataNascimento')!.touched" class="text-danger">
        Data de Nascimento é obrigatória
      </div>
    </div>
    <div class="form-group  col-12">
      <label for="observacao">Observação:</label>
      <textarea class="form-control" id="observacao" formControlName="observacao" rows="3"></textarea>
    </div>
  </div>

  <button type="submit" class="btn btn-primary col-3 m-3
  ">Enviar</button>
</form>